body {background-image: url(colorx.jpg) ;
}
h1{font-family: monospace;
	color: #898888;
	font-size: 55px;}
h3{font-size: 28pt;
	color: green;}
img{
	border-radius:50%;
}

p
{
	color: white;
	font-size: 50px;
	text-align: center;
}
h4{
	font-size: 30px;
}
